<a href="https://colab.research.google.com/github/moviestar089/khushi/blob/master/movieerec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
#reading the datasets
movies=pd.read_csv('movies.csv')
ratings=pd.read_csv('ratings.csv')
links=pd.read_csv('links.csv')
tags=pd.read_csv('tags.csv')

In [0]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [0]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [0]:
arr=movies.iloc[0:,2]

In [0]:
genre=arr.str.get_dummies(sep='|')

In [0]:
genre['movieId']=movies['movieId']

In [0]:
mod_movies=pd.merge(movies, genre, how ='inner',on='movieId')
mod_movies

      movieId                                              title  ... War  Western
0           1                                   Toy Story (1995)  ...   0        0
1           2                                     Jumanji (1995)  ...   0        0
2           3                            Grumpier Old Men (1995)  ...   0        0
3           4                           Waiting to Exhale (1995)  ...   0        0
4           5                 Father of the Bride Part II (1995)  ...   0        0
5           6                                        Heat (1995)  ...   0        0
6           7                                     Sabrina (1995)  ...   0        0
7           8                                Tom and Huck (1995)  ...   0        0
8           9                                Sudden Death (1995)  ...   0        0
9          10                                   GoldenEye (1995)  ...   0        0
10         11                     American President, The (1995)  ...   0        0
11         12                 Dracula: Dead and Loving It (1995)  ...   0        0
12         13                                       Balto (1995)  ...   0        0
13         14                                       Nixon (1995)  ...   0        0
14         15                            Cutthroat Island (1995)  ...   0        0
15         16                                      Casino (1995)  ...   0        0
16         17                       Sense and Sensibility (1995)  ...   0        0
17         18                                  Four Rooms (1995)  ...   0        0
18         19              Ace Ventura: When Nature Calls (1995)  ...   0        0
19         20                                 Money Train (1995)  ...   0        0
20         21                                  Get Shorty (1995)  ...   0        0
21         22                                     Copycat (1995)  ...   0        0
22         23                                   Assassins (1995)  ...   0        0
23         24                                      Powder (1995)  ...   0        0
24         25                           Leaving Las Vegas (1995)  ...   0        0
25         26                                     Othello (1995)  ...   0        0
26         27                                Now and Then (1995)  ...   0        0
27         28                                  Persuasion (1995)  ...   0        0
28         29  City of Lost Children, The (Cit√© des enfants p...  ...   0        0
29         30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  ...   0        0
...       ...                                                ...  ...  ..      ...
9712   188189                         Sorry to Bother You (2018)  ...   0        0
9713   188301                        Ant-Man and the Wasp (2018)  ...   0        0
9714   188675                                      Dogman (2018)  ...   0        0
9715   188751                Mamma Mia: Here We Go Again! (2018)  ...   0        0
9716   188797                                         Tag (2018)  ...   0        0
9717   188833              The Man Who Killed Don Quixote (2018)  ...   0        0
9718   189043                                  Boundaries (2018)  ...   0        0
9719   189111                                      Spiral (2018)  ...   0        0
9720   189333               Mission: Impossible - Fallout (2018)  ...   0        0
9721   189381                                    SuperFly (2018)  ...   0        0
9722   189547                                Iron Soldier (2010)  ...   0        0
9723   189713                              BlacKkKlansman (2018)  ...   0        0
9724   190183                           The Darkest Minds (2018)  ...   0        0
9725   190207                                        Tilt (2011)  ...   0        0
9726   190209                 Jeff Ross Roasts the Border (2017)  ...   0        0
9727   190213                                   John From (2015)  ...   0        0
9728   190215                                Liquid Truth (2017)  ...   0        0
9729   190219                                       Bunny (1998)  ...   0        0
9730   190221  Hommage √† Zgougou (et salut √† Sabine Mamou) (2...  ...   0        0
9731   191005                                     Gintama (2017)  ...   0        0
9732   193565                          Gintama: The Movie (2010)  ...   0        0
9733   193567  anohana: The Flower We Saw That Day - The Movi...  ...   0        0
9734   193571                                Silver Spoon (2014)  ...   0        0
9735   193573            Love Live! The School Idol Movie (2015)  ...   0        0
9736   193579           Jon Stewart Has Left the Building (2015)  ...   0        0
9737   193581          Black Butler: Book of the Atlantic (2017)  ...   0        0
9738   193583                       No Game No Life: Zero (2017)  ...   0        0
9739   193585                                       Flint (2017)  ...   0        0
9740   193587                Bungo Stray Dogs: Dead Apple (2018)  ...   0        0
9741   193609                Andrew Dice Clay: Dice Rules (1991)  ...   0        0

[9742 rows x 23 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
#split into training and testing data 
train_data,test_data=train_test_split(ratings,test_size=0.2)

In [0]:
Data_rat=pd.merge(ratings,movies,on='movieId')

In [0]:
Data_rat.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [0]:
#most rated movies ---top 25
most_rated=Data_rat.groupby('title').size().sort_values(ascending=False)[:25]
most_rated

title
Forrest Gump (1994)                                                               329
Shawshank Redemption, The (1994)                                                  317
Pulp Fiction (1994)                                                               307
Silence of the Lambs, The (1991)                                                  279
Matrix, The (1999)                                                                278
Star Wars: Episode IV - A New Hope (1977)                                         251
Jurassic Park (1993)                                                              238
Braveheart (1995)                                                                 237
Terminator 2: Judgment Day (1991)                                                 224
Schindler's List (1993)                                                           220
Fight Club (1999)                                                                 218
Toy Story (1995)                                                                  215
Star Wars: Episode V - The Empire Strikes Back (1980)                             211
Usual Suspects, The (1995)                                                        204
American Beauty (1999)                                                            204
Seven (a.k.a. Se7en) (1995)                                                       203
Independence Day (a.k.a. ID4) (1996)                                              202
Apollo 13 (1995)                                                                  201
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    200
Lord of the Rings: The Fellowship of the Ring, The (2001)                         198
Star Wars: Episode VI - Return of the Jedi (1983)                                 196
Godfather, The (1972)                                                             192
Fugitive, The (1993)                                                              190
Batman (1989)                                                                     189
Saving Private Ryan (1998)                                                        188
dtype: int64

In [0]:
import numpy as np

In [0]:
#most highly rated movies

#grouping movieId with mean rating
movie_stats=Data_rat.groupby('title').agg({'rating': [np.size, np.mean]})
movie_stats.head()

                                        rating
                                          size mean
title
'71 (2014)                                 1.0  4.0
'Hellboy': The Seeds of Creation (2004)    1.0  4.0
'Round Midnight (1986)                     2.0  3.5
'Salem's Lot (2004)                        1.0  5.0
'Til There Was You (1997)                  2.0  4.0

In [0]:
# sort by rating average
movie_stats.sort_values([('rating', 'mean')], ascending=False).head()

                                    rating
                                      size mean
title
Gena the Crocodile (1969)              1.0  5.0
True Stories (1986)                    1.0  5.0
Cosmic Scrat-tastrophe (2015)          1.0  5.0
Love and Pigeons (1985)                1.0  5.0
Red Sorghum (Hong gao liang) (1987)    1.0  5.0

In [0]:
#most higly rated movies with atleast 100 ratings
atleast = movie_stats['rating']['size'] >= 100
movie_stats[atleast].sort_values([('rating', 'mean')], ascending=False)[:10]

                                 rating
                                   size      mean
title
Shawshank Redemption, The (1994)  317.0  4.429022
Godfather, The (1972)             192.0  4.289062
Fight Club (1999)                 218.0  4.272936
Godfather: Part II, The (1974)    129.0  4.259690
Departed, The (2006)              107.0  4.252336
Goodfellas (1990)                 126.0  4.250000
Casablanca (1942)                 100.0  4.240000
Dark Knight, The (2008)           149.0  4.238255
Usual Suspects, The (1995)        204.0  4.237745
Princess Bride, The (1987)        142.0  4.232394